:root {
  // colors
  --first-color: hsl(4, 100%, 62%);
  --first-color-alt: hsl(4, 100%, 67%);
  --title-color: hsl(0, 0%, 25%);
  --text-color: hsl(0, 0%, 60%);
  --black-color: hsl(0, 0%, 0%);
  --white-color: hsl(0, 0%, 100%);

  --body-color: hsl(0, 0%, 100%);
  --skills-bg-color: hsl(0, 0%, 100%);
  --skills-hover-color: hsl(0, 0%, 100%);

  --button-hover-color: hsl(0, 0%, 100%);

  --html-icon-color: #d84923;
  --css-icon-color: #0082C0;
  --javascript-icon-color: #FFBC57;
  --git-icon-color: #d84923;
  --sass-icon-color: #CD669A;

  // font-size
  --body-font: 'Inter', sans-serif;
  --h1-font-size: 3.2rem;
  --h2-font-size: 2.4rem;
  --h3-font-size: 2rem;
  --medium-font-size: 1.6rem;
  --normal-font-size: 1.6rem;
  --smaller-font-size: 1.4rem;

  --font-bold: 700;
  --font-semibold: 600;
  --font-medium: 500; 
}

@include breakpoint-up(medium) {
  :root {
    --h1-font-size: 4.8rem;
    --h2-font-size: 3.2rem;
    --h3-font-size: 2.4rem;
    --medium-font-size: 2rem;
    --smaller-font-size: 1.6rem;
  }
}