:root {
  // font-size
  --font-normal: 1.6rem;
  --font-semi: 2rem;
  --font-medium: 2.4rem;
  --font-large: 4.8rem;

  // colors
  --first-color: hsl(4, 100%, 62%);
  --first-color-alt: hsl(4, 100%, 67%);
  --title-color: hsl(0, 0%, 25%);
  --text-color: hsl(0, 0%, 60%);
  --black-color: hsl(0, 0%, 0%);
  --white-color: hsl(0, 0%, 100%);
}