.about {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 8rem;
  margin-bottom: 11rem;

  .about__image {
    justify-self: center;
  }

  .about__data {
    h2 {
      font-size: var(--h2-font-size);
      font-weight: var(--font-semibold);
      color: var(--first-color);
      margin-bottom: 3rem;
    }

    h3 {
      font-size: var(--h3-font-size);
      font-weight: var(--font-medium);
      color: var(--title-color);
      margin-bottom: 2rem;
    }

    p {
      line-height: 24px;
      margin-bottom: 4rem;
    }

    @include breakpoint-up(small) {
      text-align: center;

      p {
        max-width: 50rem;
        margin-inline: auto;
      }

      .about__buttons {
        justify-content: center;
      }
    }
  }
}