.footer__container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4rem;
  margin-bottom: 6rem;

  @include breakpoint-up(medium) {
    grid-template-columns: 10fr 2fr;
  }

  .logo {
    margin-bottom: 2rem;
  }

  .footer__info--description {
    line-height: 2.4rem;
    max-width: 44rem;

    @include breakpoint-up(medium) {
      max-width: 36rem;
    }
  }
  
  .footer__links {
    justify-self: end;

    .footer__menu {
      display: grid;
      row-gap: 2rem;
      color: var(--title-color);
      margin-bottom: 4rem;
  
      a {
        font-size: var(--h2-font-size);
        font-weight: var(--font-semibold);
        color: var(--title-color);
        transition: .3s;

        &:hover {
          color: var(--first-color);
        }
      }
    }

    .footer__social {
      display: flex;
      column-gap: 1.7rem;

      a {
        font-size: 2.4rem;
        color: var(--title-color);
        transition: .3s;

        &:hover {
          color: var(--first-color);
        }
      }
    }
  }
}