.header {
  width: 100%;

  .nav {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint-down(large) {
      .menu {
        position: fixed;
        width: 70%;
        height: 100vh;
        top: 0;
        right: -100%;
        background-color: var(--first-color);
        color: var(--white-color);
        transition: all .3s ease-in-out;
  
        .menu__list {
          display: flex;
          flex-direction: column;
          gap: 3rem;
          text-align: center;
          margin-top: 8rem;
          
          a {
            font-size: var(--normal-font-size);
            color: var(--white-color);
            padding: 1rem;
          }
        }
  
        .close__menu {
          position: absolute;
          top: 2rem;
          right: 2rem;
          font-size: 3rem;
          cursor: pointer;
        }
      }

      .show-menu {
        right: 0;
      }
    }
  }

  .menu__icons {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
    color: var(--title-color);

    .theme, .open__menu {
      cursor: pointer;
    }
  }
}
