.header {
  width: 100%;

  .nav {
    height: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .menu__icons {
      display: flex;
      gap: 2rem;
      font-size: 2rem;
      color: var(--title-color);

      i {
        cursor: pointer;
        transition: .3s ease;

        &:hover {
          color: var(--first-color); 
        }
      }
    }

    @include breakpoint-down(large) {
      .menu {
        position: fixed;
        width: 70%;
        height: 100vh;
        top: 0;
        right: -100%;
        background-color: var(--first-color);
        color: var(--white-color);
        transition: all .3s ease-in-out;
  
        &__list {
          display: flex;
          flex-direction: column;
          gap: 3rem;
          text-align: center;
          margin-top: 8rem;
          
          a {
            display: inline-block;
            font-size: var(--normal-font-size);
            color: var(--white-color);
            padding: 1rem;
          }
        }
  
        .close__menu {
          position: absolute;
          top: 2rem;
          right: 2rem;
          font-size: 3rem;
          cursor: pointer;
        }
      }

      .show-menu {
        right: 0;
      }
    }

    @include breakpoint-up(large) {
      height: 12rem;

      .menu {
        display: flex;
        margin-left: auto;

        &__list {
          display: flex;
          gap: 4rem;
          
          a {
            font-size: var(--normal-font-size);
            font-weight: var(--font-medium);
            color: var(--text-color);
            padding: 1rem 0;
            transition: .3s ease;

            &:hover {
              color: var(--first-color);
            }
          }
        }
      }

      .close__menu,
      .open-menu {
        display: none;
      }

      .menu__icons {
        margin-left: 6rem;
        font-size: 2.2rem;

        i {
          color: var(--text-color);
        }
      }
    }
  }
}
