.hero {
  margin-bottom: 8rem;

  @include breakpoint-up(medium) {
    height: 53rem;
    display: grid;
    align-items: center;
    margin-bottom: 0rem;
  }

  .hero__data {

    h2, h1 {
      margin-bottom: .8rem;
    }
  
    h2 {
      font-size: var(--h2-font-size);
      color: var(--first-color);
    }
  
    h1 {
      font-size: var(--h1-font-size);
      font-weight: var(--font-semibold);
      color: var(--title-color);
    }
  
    span {
      display: block;
      font-size: var(--medium-font-size);
      color: var(--title-color);
      margin-bottom: 3rem;
    }
    
    p {
      line-height: 24px;
      max-width: 45rem;
      margin-bottom: 4rem;
  
      @include breakpoint-up(medium) {
        margin-bottom: 3rem;
      }
    }
  }
}