.container {
  max-width: 1080px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  @include breakpoint-up(large) {
    margin-left: auto;
    margin-right: auto;
  }
}

.main {
  display: grid;
  overflow: hidden;
}

.button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .5rem;
  background-color: var(--first-color);
  padding: 0.8rem 3rem;
  color: var(--white-color);
  border: 2px solid var(--first-color);
  border-radius: 10px;
  font-weight: var(--font-semibold);
  transition: .3s ease;

  i {
    font-size: 2.6rem;
  }
}

.button:hover {
  background-color: #FF665C;
}

.button-alt {
  background: transparent;
  color: var(--title-color);
  border: 2px solid var(--title-color);
}

.button-alt:hover {
  background-color: var(--title-color);
  color: var(--white-color);
}