.container {
  max-width: 1080px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  @include breakpoint-up(large) {
    margin-left: auto;
    margin-right: auto;
  }
}

.main {
  overflow: hidden;
}